<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="www.100010.org">100010.ORG</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "link","#"%></li>
        <li><%= link_to "link","#"%></li>
        <li><%= link_to "link","#"%></li>
        <li><%= link_to "link","#"%></li>
      </ul>
    </nav>
  </footer>
</div>
